<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.devrun.heartbeat</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{ python_path }}</string>
    <string>-m</string>
    <string>devrun.heartbeat</string>
    <string>--db</string>
    <string>{{ db_path }}</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
</dict>
</plist>
