# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# Virtual environments
.venv/
env/
venv/
ENV/

# devrun specific
.devrun/

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/
devrun.code-workspace
